{% extends 'listings/base.html' %}
{% block content %}
<h2>Contactez-nous</h2>
<p>
    Nous sommes à votre disposition pour toute question ou assistance concernant votre expérience sur MERCHEX. 
    N'hésitez pas à nous contacter, que ce soit pour des informations supplémentaires sur nos produits, des conseils d'achat, 
    ou des questions techniques. Notre équipe se fera un plaisir de vous répondre dans les plus brefs délais.
</p>

<p>We're here to help.</p>

<form action="" method="post" novalidate>
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>
{% endblock %}