<html></html>
    <head><title>Contact</title></head>
    <body>
        <h2>Contactez-nous</h2>
    <p>
        Nous sommes à votre disposition pour toute question ou assistance concernant votre expérience sur MERCHEX. 
        N'hésitez pas à nous contacter, que ce soit pour des informations supplémentaires sur nos produits, des conseils d'achat, 
        ou des questions techniques. Notre équipe se fera un plaisir de vous répondre dans les plus brefs délais.
    </p>
    <p>
        Vous pouvez nous joindre par e-mail à <a href="mailto:support@merchex.com">support@merchex.com</a> ou via notre formulaire de contact.
        Nous apprécions vos retours et sommes là pour vous aider !
    </p>
    </body>
</html>